body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Tomorrow;
  background: #000000;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* HEADER */
header {
  background-color: #ff0000;
  color: #fff;
  padding: 24px;
  text-align: center;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 64px;
}
h1-header {
  display: block;
  background: #000;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #ff0000;
}
h2-header {
  display: block;
  background: #000;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #ffffff;
}
h3-header {
  display: block;
  background: #000;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #ffffff;
}
ul li {
  list-style-type: none;
}
li a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  transition: transform 0.3s ease;
  cursor: pointer;
}
li a:hover {
  color: #ff8100;
}
ul {
  display: flex;
  gap: 12px;
  padding: 0;
  margin: 0;
}
/* END OF HEADER */

/* HERO SECTION */
#hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/bg1.jpg");
  background-size: cover;
  border-radius: 20px;
  overflow: hidden;
}
h1-hero {
  display: block;
  font-size: 50px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
  color: #ff0000;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
h2-name {
  text-align: center;
  display: block;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
h3-title {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-align: right;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
p {
  display: block;
  font-size: 16px;
  text-align: justify;
  margin: 10px;
}
/* END HERO SECTION */

/* MAIN CONTENT */
h2-pf {
  display: block;
  text-decoration: underline;
  font-family: Tomorrow;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #000;
}
h2-personal {
  display: block;
  text-decoration: underline;
  font-family: Tomorrow;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #000;
}
h2-word {
  display: block;
  text-decoration: underline;
  font-family: Tomorrow;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #000;
}
h2-abm {
  display: block;
  text-decoration: underline;
  font-style: italic;
  text-align: left;
  font-size: 24px;
  font-weight: 600;
  color: #000;
}
h2-skills {
  display: block;
  text-decoration: underline;
  font-style: italic;
  text-align: left;
  font-size: 24px;
  font-weight: 600;
  color: #000;
}
h2-edu {
  display: block;
  text-decoration: underline;
  font-style: italic;
  text-align: left;
  font-size: 24px;
  font-weight: 600;
  color: #000;
}
h2-badg {
  display: block;
  text-decoration: underline;
  font-style: italic;
  text-align: left;
  font-size: 24px;
  font-weight: 600;
  color: #000;
}
p-copyright {
  display: flex;
  font-size: 16px;
  text-align: left;
  margin: 10px;
}
h2-information {
  display: block;
  font-family: Tomorrow;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #000;
}
ul-skills {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.skill-description {
  display: block;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.skill-description:hover {
  transform: scale(0.95);
}
.info {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.info:hover {
  transform: scale(0.95);
}
#container {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#content {
  display: flex;
  padding: 40px;
  gap: 24px;
  border-radius: 20px;
  margin: 20px;
  background-color: #737373;
}
.education-card {
  display: block;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.education-card:hover {
  transform: scale(1.05);
}
.education-card img {
  width: 100%;
  aspect-ratio: 1/1;
  height: 200px;
  max-height: 100%;
  object-fit: contain;
}
.education-card h2 {
  margin-bottom: 10px;
  font-size: 20px;
}
.education-card h3 {
  margin: 20px 0 5px;
  font-size: 18px;
}
.education-card p {
  font-size: 14px;
  color: #555;
  margin: 20px 0;
}
.education-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.badge-card {
  display: block;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.badge-card:hover {
  transform: scale(1.05);
}
.badge-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.badge-card h3 {
  margin: 10px 0 5px;
  font-size: 16px;
}
.badge-card p {
  font-size: 14px;
  color: #555;
}
.badge-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: flex-start;
}
aside{
  flex: 1px;
}
article {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.aside-content {
  background-color: #f1f1f1;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.aside-content img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 10px;
}
.slider {
  position: relative;
  max-width: 650px;
  margin: auto;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slides img {
  width: 100%;
  border-radius: 10px;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.article-content {
  background-color: #f1f1f1;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}
.article-content img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 20px;
}
.skill-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 200px;
  padding: 16px;
  text-align: center;
  transition: transform 0.2s;
}
.skill-card:hover {
  transform: translateY(-5px);
}
.skill-card h3 {
  font-size: 20px;
  margin: 10px 0;
  color: #333;
}
.skill-card p {
  font-size: 16px;
  color: #555;
  margin: 0;
}
@media (max-width: 600px) {
  .skill-card {
      width: 100%;
  }
}
/* END OF MAIN CONTENT */

/* FOOTER */
footer {
  width: 100%;
  background-color: #ffc300;
  display: flex;
  flex-direction: column;
  padding: 24px 40px;
  gap: 24px;
  box-sizing: border-box;
}
.footer-container {
  display: flex;
  gap: 16px;
  width: 100%;
}
.footer-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.p-footer {
  color: #fff;
  font-size: 14px;
}
.input-group {
  display: flex;
  align-items: center;
  width: 70%;
}
.input {
  font-family: Tomorrow;
  min-height: 50px;
  padding: 0 1rem;
  width: 100%;
  color: #000000;
  background-color: #fff;
  font-size: 15px;
  border: 1px solid #ff8100;
  border-radius: 6px 0 0 6px;
  transition: border-color 0.3s ease-in-out;
}
.button--submit {
  font-family: Tomorrow;
  min-height: 50px;
  padding: 0.5em 1em;
  border: 1px solid #ff8100;
  border-radius: 0 6px 6px 0;
  background-color: #ff8100;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.button--submit:hover {
  background-color: #ff0000;
}
.input:focus-visible {
  border-color: #3898ec;
  outline: none;
}
.medsos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin: 0 auto;
}
.medsos .container {
  display: flex;
  gap: 12px;
  justify-content: center;
}
/* END OF FOOTER */
